sshd_port: 22

mysql_root_password: password

# created with mkpasswd --method=SHA-512
deploy_password: $6$zrNGW7cIB3tPi$Sesl4C2Tqa5n4N0MFWajDl2pqedIe.Irpm5.0mDmFKRuAXvM8IvqJlXTaomk02VEA1uWfCNFMevxnfZdfjKUr.