##### Contains stuff you don't want being visible in source control

##### Customise these

deploy_user: deploy
# created with mkpasswd --method=SHA-512
deploy_password: $6$zrNGW7cIB3tPi$Sesl4C2Tqa5n4N0MFWajDl2pqedIe.Irpm5.0mDmFKRuAXvM8IvqJlXTaomk02VEA1uWfCNFMevxnfZdfjKUr.

sshd_port: 4444

mysql_user: root
mysql_root_password: password

# wordpress specific user to access wordpress db only
wordpress_db_user: deploy
wordpress_db_user_pass: deploypass

# for logging into wp admin panel
wordpress_admin_user: admin
wordpress_admin_user_pass: adminpass

##### Generally leave these

wordpress_db_name: wordpress
web_root: /usr/share/nginx/html